.review-form {
  margin-top: 1.2em;
  margin-bottom: 1.5em;
  justify-content: center;
  flex-direction: column;

  .button-area{
    margin: auto;

    .button{
      margin: 5px;
    }

    .random-button {
      margin-left: auto;
      order: 2;
    }
  }
}